.Footer {
    margin-top: 1000px;
}

.Footer .footer-content img {
    margin-bottom: 20px;
}

.Footer .footer-content ul li {
    list-style: none;
    color: #777;

}

.Footer .footer-content ul li a {
    text-decoration: none;
    color: #777;
    transition: 0.5s;
}

.Footer .footer-content ul li a:hover {
    color: #64b496;
}

.Footer .footer-content ul li .icon {
    color: #64b496;
    margin-right: 20px;
}

.Footer .footer-content ul li p {
    margin-left: 20px;
}

.company-content {
    margin-left: 30px;
}

.company-content h4 {
    margin-left: 30px;
}

.company-content ul li {
    list-style: none;
    margin-top: 9px;
}

.company-content ul li a {
    text-decoration: none;
    color: #777;
    transition: 0.5s;
}

.company-content ul li a:hover {
    color: #64b496;
}

.sub input {

    width: 100%;
    height: 44px;
    padding: 5px 15px;
    border: 1px solid #e9e9e9;
    outline: none;
    border-radius: 5px;
}

.in {
    position: relative;
}

.iconss {
    position: absolute;
    top: 433.5%;
    right: 8.5%;
    font-size: 21px;

}

.iconss a {
    color: black;
}

.box {
    margin-top: 20px;
}

.box .box-1 {
    width: 35px;
    transition: 0.4s;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e1dfdf;
    border-radius: 5px;
    font-size: 20px;
     margin-right: 15px
}

.box .box-1 a {
    color: black;

}
.box .box-1 a:hover {
    color: #64b496;
}
.image {
    margin-top: 20px;
}
.image .img-1{
    margin-right: 10px;
}
.image .img-1 img{
    width: 73px;
    height: 72px;
    border-radius: 5px;
    object-fit: cover;
}
.last-footer{
    padding: 10px ;
    border-top: 1px solid #e9e9e9;
    margin-top: 50px;
}
.last-footer p{
    text-align: center;
}

.last-footer a{
color: #64b496;
    text-decoration: none;
}