.box {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    height: 150px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.096);
}

.d-flex {
    display: block;
    flex-wrap: wrap;
}