.box {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    height: 150px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.096);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin-top: 100px;
    border: none;
    background-color: white;
    color: #F9A620;
    font-size: 20px;
}

.dd{
    background-color: #F5D03E;
}
img{
    width: 48px;
    height: 48px;
    margin-top: 5px;
}
.container{
    display: block;
    margin: 0 auto;
}