.box {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    height: 150px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.096);
}

table {
    width: 300px;
    display: block;

    height: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.096);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin-top: 15px;
    border: none;
    background-color: white;
    color: #F9A620;
    font-size: 20px;
    cursor: pointer;
}

.dd {
    background-color: #F5D03E;
    padding: 0px 2px;
}

img {
    width: 48px;
    height: 48px;
}

.align-content-center {
    align-items: center;
}

h3 {
    font-size: 23px;
    color: white;
}

input[name="text"] {
    border: none;
}


.note-box {
    background: white;
    width: 350px;
    padding: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 48px auto;
}

.note-box input,
.note-box textarea {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 8px;
    font-size: 16px;
}

.note-box textarea {
    resize: none;
    height: 50px;
}

.note-box button {
    float: right;
    background: none;
    border: none;
    color: #fbbc05;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
}

.footer {
    background-color: #F7B61E;
    color: white;
}

.footer p {
    font-size: 19px;
    padding-top: 2px;
    padding-bottom: 2px;
}